<div class="panel panel-default">
    <div class="panel-heading">New Room</div>
    <div class="panel-body">
        <form action="/rooms" method="POST">
            {{> rooms/_form }}
        </form>
    </div>
</div>